.primer__encabezado {
    background-color: #eea222;
}
.segundo__encabezado {
    background-color: #000000;
}
.contenedor1 {
    background-color: #ae68;
}
.contenedor2 {
    background-color: #eacd22;
}